* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#articleTitle {
	text-align: center;
	font-size: 44px;
	font-weight: bold;
	margin: 60px 20px;
}

#articleContent {
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px 30px;
}

.contentTitle {
	font-weight: normal;
	overflow: hidden;
}

#articleBody {
	width: 100%;
	max-width: 800px;
	margin: 20px auto 50px auto;
	padding: 25px 30px;
}

#articleContent,#articleBody{
	border: 1px solid black;
	border-radius: 16px;
}