scrcpy_android/*.iml
scrcpy_android/.gradle
scrcpy_android/local.properties
scrcpy_android/.idea/caches
scrcpy_android/.idea/libraries
scrcpy_android/.idea/modules.xml
scrcpy_android/.idea/workspace.xml
scrcpy_android/.idea/navEditor.xml
scrcpy_android/.idea/assetWizardSettings.xml
scrcpy_android/.DS_Store
scrcpy_android/build
scrcpy_android/app/release
scrcpy_android/app/debug
scrcpy_android/captures
scrcpy_android/.externalNativeBuild
scrcpy_android/.cxx
scrcpy_android/app/.cxx
scrcpy_android/local.properties
scrcpy_android/app/src/main/assets/scrcpy-server.jar
scrcpy_android/app/src/main/res/raw/scrcpy-server.jar
