easycontrol/*.iml
easycontrol/.gradle
easycontrol/.idea
easycontrol/local.properties

easycontrol/app/build
easycontrol/app/.gradle
easycontrol/app/debug
easycontrol/app/release
easycontrol/app/src/main/res/raw/easycontrol_server.jar

easycontrol/server/build
easycontrol/server/.gradle

easycontrol/app/src/main/java/top/saymzx/easycontrol/app/helper/ActiveHelper.java
easycontrol/cloud
