<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 悬浮窗 -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!-- USB -->
  <uses-permission android:name="android.permission.USB_PERMISSION" />

  <uses-feature android:name="android.hardware.usb.host" />

  <application
    android:icon="@drawable/app_icon"
    android:label="易控"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.Material.NoActionBar"
    tools:targetApi="31">
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".IpActivity"
      android:exported="false" />
    <activity
      android:name=".SetActivity"
      android:exported="false" />
    <activity
      android:name=".client.view.FullActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:screenOrientation="portrait" />
  </application>

</manifest>