<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 悬浮窗 -->
  <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WIFI状态 -->
  <uses-permission android:name="android.permission.USB_PERMISSION" /> <!-- USB -->
  <uses-feature android:name="android.hardware.usb.host" />

  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="28" />

  <application
    android:icon="${app_icon}"
    android:installLocation="internalOnly"
    android:label="${app_name}"
    android:roundIcon="${app_icon_round}"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
    android:usesCleartextTraffic="true">

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter" />
    </activity>
    <activity
      android:name=".DeviceDetailActivity"
      android:exported="false" />
    <activity
      android:name=".SetActivity"
      android:exported="false" />
    <activity
      android:name=".IpActivity"
      android:exported="false" />
    <activity
      android:name=".client.view.FullActivity"
      android:exported="false" />
    <activity
      android:name=".AdbKeyActivity"
      android:exported="false" />
    <activity
      android:name=".ActiveActivity"
      android:exported="false" />
    <activity
      android:name=".UsbActivity"
      android:directBootAware="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter" />
    </activity>
  </application>

</manifest>